<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <div style="display: flex; align-items: center;justify-content: center;">
    <img src="https://raw.githubusercontent.com/esensato/mobile-2022-01/main/img/pizza-{{pizzaSelecionada.id}}.jpg" style="width: 300px; width: 300px;"/>
    </div>
    <ion-card-header>
    <ion-card-subtitle>Confira baixo o seu pedido</ion-card-subtitle>
    <ion-card-title>Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-item>{{pizzaSelecionada.nome}} - R$ {{pizzaSelecionada.preco}}</ion-item>

    </ion-card-content>
    </ion-card>
   

    
</ion-content>